
{% extends "layout.html" %}
{% block content %}
<div id="map">
	{% include "public/folium_alert_map.html" %}
</div>
{% endblock %}

{% block sidebar %}
      <div class="sidebar-wrapper">
        <ul class="nav">
          <li class="nav-item ">
            <a class="nav-link" href="/">
              <i class="material-icons">home</i>
              <p>Inicio</p>
            </a>
          </li>
          <li class="nav-item  active">
            <a class="nav-link" href="/alerts">
              <i class="material-icons">warning</i>
              <p>Gestión de alertas</p>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/history">
              <i class="material-icons">history</i>
              <p>Histórico</p>
            </a>
          </li>
          <!-- your sidebar here -->
        </ul>
        <div class="lateral_form">
          <form id="registerForm" method="POST" action="" role="form">
            {{ form.csrf_token }}

              <div class="lateral_form_label">
                <label class="">Días Previos: </label>
                {{form.days(placeholder="", class = 'form-control')}}
              </div>

              <button type="submit" class="btn btn-custom pull-right">Cambiar configuración:</button>
              <div class="clearfix"></div>
            </form>
          </div>
      </div>
{% endblock %}