
<footer class="footer">
<div class="container-fluid">
  <nav class="float-left">
    <ul>
      <li>
        <a href="{{ url_for('public.about') }}">
          About
        </a>
      </li>
    </ul>
  </nav>
  <a href="http://www.inia.es/IniaPortal/verPresentacion.action" class="simple-text logo-mini float-center ">
      <img src="/static/assets/img/logoinia.png" height="40px" class="logo-inia">
  </a>
  <div class="copyright float-right">
    &copy;
    <script>
      document.write(new Date().getFullYear())
    </script>, Carlos Ballesteros de Andrés
  </div>
  <!-- your footer here -->
</div>
</footer>
