{%extends "layout.html" %}

{% block title %} Inicio {% endblock %}
{% block content %}
<!-- <form action="mainE.py/recogidaDatos" method="post">
    <p>Ventana brotes (De 3 a 12 meses)<input type="range" name="window" min="3" max="12" step="3" value="3"/></p>
    <p>Tipo de aves 
        <input type="radio" name="typeA" value="b" checked>Ambas
        <input type="radio" name="typeA" value="d"> Domesticas
        <input type="radio" name="typeA" value="s"> Silvestres
    </p>
    <p>Fecha <input type="date" name="date"></p>
    <p>Coeficientes del modelo</p>
    <p>
        <input type="submit" value="OK"/>
        <input type="reset" value="Reset"/>
    </p>
</form> -->
<form action="{{url_for('process')}}" method="post" novalidate>
    {{ form.hidden_tag() }}
    <div>
        {{ form.weeks.label }}
        {{ form.weeks(min='4', max='52') }} <br>
    </div>
    <div>
        {{ form.date.label }}
        {{ form.date }}<br>
    </div>
    <div>
        {{ form.jsonFile.label }}
        {{ form.jsonFile }}<br>
    </div>
    <div>
        {{ form.submit() }}
    </div>
</form>









{% endblock %}